<div class="language-selector">
  <ng-container *ngFor="let language of languageList">
    <a href="/{{language.code}}/" class="btn btn-light">{{language.label}}</a>
  </ng-container>
</div>

<div style="text-align:center">
  <a routerLink="/notes"><h1 i18n>Homework</h1></a>
</div>

<router-outlet></router-outlet>
