
<div class="container">

  <div class="card-deck">

    <form [formGroup]="createForm" (ngSubmit)="newNoteSubmit()">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <input type="text" id="title" formControlName="title" placeholder="Create note" class="form-control" required>
          </h5>
          <button type="submit" class="btn btn-success" [disabled]="!createForm.valid" i18n>Submit</button>
        </div>
      </div>
    </form>

    <div class="card" style="width: 18rem;" *ngFor="let note of notes | async">
      <div class="card-body">
        <h5 class="card-title mt-2 mb-3">{{note.title}}</h5>
        <a routerLink="/notes/{{note.id}}" class="btn btn-primary" i18n>Edit</a>
      </div>
    </div>

  </div>
</div>
