

<div class="container">

<form *ngIf="note | async; else loading" [formGroup]="submitForm" (ngSubmit)="updateNoteSubmit()">
  <div class="card" style="width: 25rem; margin: auto">
    <div class="card-body">
      <h5 class="card-title">
        <input type="text" id="title" formControlName="title" placeholder="Enter note" class="form-control" required>
      </h5>
      <button type="button" class="btn btn-danger" (click)="openModal(deleteModal)" i18n>Delete</button>
      <button type="submit" class="btn btn-success float-right" [disabled]="!submitForm.valid" i18n>Save</button>
    </div>
  </div>
</form>

<ng-template #loading>
  <div class="text-center" i18n>Loading data...</div>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p i18n>Are you sure?</p>
    <button type="button" class="btn btn-default" (click)="decline()" i18n>No</button>
    <button type="button" class="btn btn-danger" (click)="confirm()" i18n>Yes</button>
  </div>
</ng-template>

<!--
<div> {{ (note | async)?.id }}</div>
<div> {{ (note | async)?.title }}</div>
<div> {{ localNote | json }}</div>
-->

</div>
